@use "variables" as *;
@use "dark_mode" as *;

@mixin flexItems($display,$direction,$justify,$align,$column-gap,$row-gap){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

body{
    background-color: #F2F9FE;
    user-select: none;
    position: relative; 
    
}
button{
    cursor: pointer;
    text-align: center;
}

.fonts{
    font: {
        family: "Poppins", sans-serif;
        weight: 600;
        style: normal;
    }
}

.main_tag{
    @include flexItems(flex,column,flex-start,stretch,0,0);

    // display: flex;
    // flex-direction: column;
    width: min(100%,2000px);
    padding:15px 70px;
    margin: 0 auto;

    // header
    
    header{
        @include flexItems(flex,row,space-between,center,20px,0);
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // column-gap: 20px;
        width: 100%;
    img{
        cursor: pointer;
    }

    .burger_menu{
        display: none;
    }
       @keyframes burger_menu_animation{
            from{
                opacity:0;
                right: -100%;
            }
            to{
                opacity:1;
                right: 0;
            }
       }
        //burger menu
        .hidden_menu{
            
            background-color: #FFFFFF;
            @include flexItems(flex,column,flex-start,center,0,50px);
            // display: flex;
            // flex-direction: column;
            // align-items: center;
           
            position: absolute;
            right: 0;
            top: 0;
            z-index: 200;
            height: 100%;
            width: 60%;
            &.burger_animation{
            animation: burger_menu_animation .4s forwards;

            }
            .hidden_menu_ul{
                display: flex;
                flex-direction: column;
                row-gap: 70px;
                padding-top: 110px;
                li{
                    font-size: 30px;
                    text-align: center

                };
            }
            
        }
        
        // page list
        ul{
            @include flexItems(flex,row,flex-start,center,30px,0);
            display: flex;
            column-gap: 30px;
    
            li{
                cursor: pointer;
                border-bottom: 3px solid transparent;
                padding-bottom: 3px;
                transition: .4s;
                text-align: center;
                padding: 0;
    
                a{
                    color: $main_text_color;

                }
                &:hover {
                    color:$active_color;
                    border-bottom: 3px solid 
                    $active_color;
                }
                &.active{ 
                    border-bottom: 3px solid$active_color;
                    color: $active_color;
                }
            }
         
        }
       
        
        
        // dark mode button
        button{
            position: relative;
            background-color: $main_text_color;
            @include flexItems(flex,row,center,center,15px,0);
            
            // display: flex;
            // column-gap: 15px;
            // justify-content: center;
            // align-items: center;
            padding: 5px 6px;
            border-radius: 50px;
            transition: .4s;

            .white_circle{
                background-color: #FFFFFF;
                position: absolute;
                left: 38px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                z-index: 1;

                &.move_right{
                    left: 4px;
                }
            }
            img{
                z-index: 3;
                width: 20px;
                height: 20px;
            }
            &:hover{
                box-shadow: 0 0 10px 0px #071322cb,
                0 0 20px 0px #071322cb;
            }
        }
      
    }

    // main section

     %bottom_div_styles{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        text-wrap: nowrap;

    }
    .main_section{
        display: flex;
        margin-block: 40px;
        
        .left_div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 28px;
            padding-top: 50px;
            width: 90%;
            p{
                font-size: 14px;
                line-height: 14px;
                color:$main_text_color;
            }
            h1{
                font-size: 60px;
                color: $main_text_color;
                font-weight: 700;
                line-height: 80px;
          
            }
            h2{
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
                color: $main_text_color;

            }

            .button_div{
                display: flex;
                column-gap: 20px;
            }
            .get_started{
                background-color: $active_color;
                padding: 15px 25px;
                border-radius: 8px;
                color: #FFFFFF;
                font-size: 16px;
                transition: .4s;
                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 0 4px 10px 0px #0b2581;
                }
            }
            .get_live_demo{
                background-color: transparent;
                font-size: 16px;
                color:$active_color;
                transition: .4s;

                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    border: 2px solid $active_color;
                }

                &:hover{
                    transform: scale(1.1);
                }
            }
            .bottom_div{
                display: flex;
                column-gap: 25px;
                width: fit-content;
                .no_credit_card{
                    @extend %bottom_div_styles;
                    transition: .4s;
                }

                .no_software{
                    @extend %bottom_div_styles;

                }
            }

            
        }

        .image_div{
            width: 100%;
            height: 540px;
            img{
                width: 100%;
                height: 100%;
                object-fit:contain;
            }
        }
       
    }
}


// styles uner 1024px
@media (max-width: 1024px) {
    .main_tag {
        padding:15px 40px;

        header{

            li{
                font-size: 14px;
            }
            button{
                img{
                    width: 18px;
                    height: 18px;
                }
              
            }
        }
        .main_section{
            .left_div{
                p{
                    font-size: 13px;
                }
                h1{
                    font-size: 45px;
                    line-height: 55px;
                }
                h2{
                    font-size: 16px;
                }
    
                .button_div{
                    .get_started{
                        padding: 10px 20px;
                        font-size: 14px;
                    }
                    .get_live_demo{
                        font-size: 14px;
                    }
                }
            }
    
            .image_div{
                height: 417px;
            }
        }
    }
}
// styles under 800px

@media(max-width:800px){
    .main_tag{
        padding: 15px 20px;
        
        .main_section{
            flex-direction: column-reverse;
           
            .left_div{
                h1{
                    font-size: 40px;
                    text-wrap: nowrap;
                }
            }
            .image_div{
                height: 300px;
            }
        }
    }
}

@media(max-width:640px){
    .main_tag{
       
        header{

            .burger_menu{
                display: block;
            }
            .dark_mode_btn{
                display: none;
            }
            .page_navigator{
                ul{
                    display: none;
                }

            }

        }
       .main_section{
        .left_div{
                h1{
                    font-size: 30px;
                    text-wrap: wrap;
                }
                .bottom_div{
                    column-gap: 10px;
                    flex-wrap: wrap;
                    row-gap: 20px;
                }
            }
       }
    }
}
.hide{
    display: none !important;
}  