@use "variables" as *;

@function hide(){

}

body{
    background-color: #F2F9FE;
    user-select: none;
    position: relative;
   
}
button{
    cursor: pointer;
    text-align: center;
}

.fonts{
    font: {
        family: "Poppins", sans-serif;
        weight: 600;
        style: normal;
    }
}

.main_tag{
    display: flex;
    flex-direction: column;
    width: min(100%,2000px);
    padding:15px 70px;
    margin: 0 auto;
    border: 3px solid red;
    // header
    
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        width: 100%;
    img{
        cursor: pointer;
    }

    .burger_menu{
        display: none;
    }
       
        //burger menu
        .hidden_menu{
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 70px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
            height: 100%;
            width: 60%;
            ul{
                flex-direction: column;
                row-gap: 70px;
                padding-top: 110px;
                li{
                    font-size: 30px;
                    text-align: center

                };
            }
          
            
        }
       
        // page list
        .page_navigator{
            ul{
                display: flex;
                column-gap: 30px;
    
                li{
                    cursor: pointer;
                    border-bottom: 3px solid transparent;
                    padding-bottom: 3px;
                    transition: .4s;
                    color: $main_text_color;
                    text-align: center;
                    padding: 0;
    
                    &:hover {
                        color:$active_color;
                        border-bottom: 3px solid 
                        $active_color;
                    }
                }
                
            }
            .active{ 
                border-bottom: 3px solid 
                $active_color;
                color: $active_color;
            }
        }
        
        // dark mode button
        button{
            position: relative;
            background-color: $main_text_color;
            display: flex;
            column-gap: 15px;
            justify-content: center;
            align-items: center;
            padding: 5px 6px;
            border-radius: 50px;
            
            &::before{
                content: "";
                display: block;
                background-color: #FFFFFF;
                position: absolute;
                // left: 3px;
                right: 4px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
            img{
                z-index: 100;
                width: 20px;
                height: 20px;
            }
        }
      
    }

    // main section

     %bottom_div_styles{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        text-wrap: nowrap;

    }
    .main_section{
        display: flex;
        margin-block: 100px;
        // column-gap: 40px;
        
        border: 3px solid blue;
        .left_div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 28px;
            width: 90%;
            p{
                font-size: 14px;
                line-height: 14px;
                color:$main_text_color;
            }
            h1{
                font-size: 60px;
                color: $main_text_color;
                font-weight: 700;
                line-height: 80px;
          
            }
            h2{
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
                color: $main_text_color;

            }

            .button_div{
                display: flex;
                column-gap: 20px;
            }
            .get_started{
                background-color: $active_color;
                padding: 15px 25px;
                border-radius: 8px;
                color: #FFFFFF;
                font-size: 16px;
                transition: .4s;
                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 0 4px 10px 0px #0b2581;
                }
            }
            .get_live_demo{
                background-color: transparent;
                font-size: 16px;
                color:$active_color;
                transition: .4s;

                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    border: 2px solid $active_color;
                }

                &:hover{
                    transform: scale(1.1);
                }
            }
            .bottom_div{
                display: flex;
                column-gap: 25px;
                width: fit-content;
                .no_credit_card{
                    @extend %bottom_div_styles;
                    transition: .4s;
                }

                .no_software{
                    @extend %bottom_div_styles;

                }
            }

            
        }

        .image_div{
            width: 100%;
            height: 540px;
            border: 4px solid yellow;
            img{
                width: 100%;
                height: 100%;
                object-fit:contain;
            }
        }
       
    }
}


// styles uner 1024px
@media (max-width: 1024px) {
    .main_tag {
        padding:15px 40px;

        header{

            li{
                font-size: 14px;
            }
            button{
                img{
                    width: 18px;
                    height: 18px;
                }
                &::before{
                    right: 3px;
                }
            }
        }
        .main_section{
            .left_div{
                p{
                    font-size: 13px;
                }
                h1{
                    font-size: 45px;
                    line-height: 55px;
                }
                h2{
                    font-size: 16px;
                }
    
                .button_div{
                    .get_started{
                        padding: 10px 20px;
                        font-size: 14px;
                    }
                    .get_live_demo{
                        font-size: 14px;
                    }
                }
            }
    
            .image_div{
                height: 417px;
            }
        }
    }
}
// styles under 800px

@media(max-width:800px){
    .main_tag{
        padding: 15px 20px;
        
        .main_section{
            flex-direction: column-reverse;
           
            .left_div{
                h1{
                    font-size: 40px;
                    text-wrap: nowrap;
                }
            }
            .image_div{
                height: 300px;
            }
        }
    }
}

@media(max-width:640px){
    .main_tag{
       
        header{

            .burger_menu{
                display: block;
            }
            .dark_mode_btn{
                display: none;
            }
            .page_navigator{
                ul{
                    display: none;
                }

            }

            .hidden_menu{
                ul{
                    display: flex;
                }
            }
        }
       .main_section{
        .left_div{
            h1{
                font-size: 30px;
                text-wrap: wrap;
            }
            .bottom_div{
                column-gap: 10px;
                flex-wrap: wrap;
                row-gap: 20px;
            }
        }
       }
    }
}